<table>
  <% [(0..2), (3..5), (6..8)].each do |row| %>
    <tr>
      <% row.each do |index| %>

        <td>
          <% if board[index] %>
            <%= board[index] == 'X' ? t(:X) : t(:O) %>
          <% else %>
            <%= link_to "", move_path(board: board, move: index) %>
          <% end %> 
        </td>

      <% end %>
    </tr>
  <% end %>
</table>
