<script>
  $(function() {
    var predictions = JSON.parse('<%= raw @predictions %>')

    $('[data-name=cell]').hover(function(event) {
      var dataId = parseInt($(this).attr('data-id'))

      $('body').append('<div data-id="output"></div>')
        $('[data-id=output]').html(predictions.spaces[dataId])
      },
      function(event) {
        $('[data-id=output]').remove()
    })
  })
</script>

<%= render 'board', board: @board, ai_type: @ai_type, move_history: @move_history %>
