// Place all the styles related to the Game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
  font-family: monospace;
}

td {
  background: #d7d7d7;
  font-size: 60px;
  height: 75px;
  text-align: center;
  width: 75px;
}

a {
  display: block;
  height: 100%;
  width: 100%;
}
